*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

section#secion-top{
    background-image: url('../_image/bkg_top.jpg');
    height: 800px;
}

#top{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}

#title_top{    
    background-color: #ffba00;
    width: 20%;
    height: 10%;
    
    padding: 10px;     
    
}
#title_top h1{ 
    margin-left: 32%;   
    font-weight: bold;    
    font-size: 24pt;
}

.lighter{    
    font-weight: lighter;
}

nav {
    width: 80%;
    margin: 0 auto;
    /*padding: 50px 0;*/
    
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;    
    font-weight: light;
    font-size: 20pt;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #ffba00;
    box-shadow: 0px 2px 0px #ffba00;
  }

  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #ffba00;
    
  }
  nav.fill ul li a:hover:after {    
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

  #middle{
    display: flex;
    background-color: #ffba00;
    color: #fff;
    width: 100%;
    height: 23%;
    margin-top: 20%;
  }

  #middle h2{
    margin-left: 10%;
    font-size: 75pt;
    font-weight: bold;
  }

  h2#read-more{
    height: 35px;
    font-size: 20pt;
    font-weight: lighter;
    border-style: solid;
    padding: 10px;
    margin-top: 11%;
    background-color: #ffba00;
  }

  h2#read-more a{
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
    
  }

  h2#read-more a:hover{
    box-shadow: inset 200px 0 0 0 #000;
  }